/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.guess
/config.in
/config.log
/config.status
/config.sub
/configure
/depcomp
include/
/install-sh
/libtool
/ltmain.sh
/missing
/mod_mono.conf
